@charset "utf-8";
/* CSS Document */
.chat_wrap .discussion-hd{ padding:0 !important; margin:0;}
.discussionpage.chat_wrap{
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.chat_wrap .rightareatop{ background:#dfe3e5;}
.discussioncontent1,.discussioncontent3{ padding:25px 35px;}
.chat_wrap .discussioncontent1{border-bottom:1px #c1c4c6 solid;}
.discussioncontent2{padding:25px 60px; background:#dfe3e5;border-bottom:1px #c1c4c6 solid;}
.discussioncontent3{background:#dfe3e5;}
.discussionpage p{ font-weight:400; font-size:14px; color:#363636; line-height:21px; }
.discussionpage h6{ font-weight:700; font-size:15px; color:#467800; margin-top:0; padding: 6px 0px 0px 30px;}
.discussionpage h5{ font-weight:700; font-size:14px; color:#000000; margin-top:0; }
.repliesbtn{font-weight:700; font-size:14px; color:#467800; background:url(../img/replies.png) left center no-repeat;
padding-left:25px;}
.repliesbtn:hover{ color:#000;}
.repliesbtn:focus{ color:#467800;}
.discussionpage .form-control
{
  padding:10px 13px;
  height:auto;
  font-size: 13px;
  color: #909090;
  background-color: #FFFFFF;
  font-weight: 500;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight:400;
 
}

.discussionpage .input-group-addon {
  padding: 6px 12px;
  font-size: 0px; 
  font-weight: 0;
  line-height: 1; 
  color: none; 
  text-align: center;
   background:none; 
   border:none; 
   border-radius:0; 
   padding:0;
}
.discussionpage .btn-primary {
  color: #fff;
  background-color: #469105;
   border:none; 
  border-radius: 0;
  padding: 9px 12px;
  	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
.discussionpage .btn-primary:hover{ background:#326903;}
.group-addonleft{ padding-right:10px !important;}


/*.bordertop{ border-top:1px #c1c4c6 solid;}*/
.discussioncontent2 h6{ color:#393a3b;}
.reply-content {
    display: none;
}